#root {
  max-width: 1280px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.form {
  background-color: aqua;
  color: black;
}

.preview {
  background-color: white;
  color: black;
}

label {
  color: black;
  display: block;
}
